.span-cep {
    margin-left: 15px;
    font-style: italic;
    font-size: 12px;
}

.button-align {
    float: right;
    margin-top: -30px;
}

.no-border-item {
    border-bottom: 0px!important; left: 10px
}