<ion-header>
    <ion-navbar>
        <ion-title>Cadastrar Item</ion-title>
        <ion-buttons end>
            <button (click)="lerQrCode()" ion-button icon-only>
                Ler qrcode&nbsp;&nbsp;&nbsp;
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="itemForm" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Código</ion-label>
                <ion-input type="text" formControlName="codigo"></ion-input>
            </ion-item>

            <br/>
            <ion-item>
                <ion-label>Selecione a categoria</ion-label>
                <ion-select interface="popover" formControlName="categoria">
                    <ion-option value="{{c.id}}" *ngFor="let c of categorias">
                        {{c.nome }}
                    </ion-option>
                </ion-select>
            </ion-item>

            <br/>
            <ion-item>
                <ion-label>Selecione a unidade</ion-label>
                <ion-select interface="popover" formControlName="unidade">
                    <ion-option value="{{u.id}}" *ngFor="let u of unidades">
                        {{u.nome }}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Descrição</ion-label>
                <ion-input type="text" formControlName="descricao"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Quantidade</ion-label>
                <ion-input type="number" formControlName="qtde"></ion-input>
            </ion-item>

        </ion-list>

    </form>

    <br/>
    <button ion-button outline block (click)="cadastrarItem()"
        [disabled]="itemForm.invalid">Cadastrar Item</button>
    <br/>
    <button ion-button outline block (click)="voltar()">Voltar</button>
</ion-content>